@charset "utf-8";
/* CSS Document */

body{
	background: #C8d0d4;
	background-repeat:repeat;
	font-family:Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}
	
	
#wrapper{
	position:relative;
	width:960px;
	height:auto;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	border:thick solid #000;
}
#logo{
	position: relative;
	float: left;
	width: 240px;
	display: inline;
	padding: 10px 35px 10px 10px;
	margin: 0;
}

#header{
	position:relative;
	width:auto;
	height:auto;

}

h1{
	font-size: 72px;
	width: auto;
}



h2{
	font-size:36px;
}


h3{
	font-size:24px;
}

p{
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
}


#menu{
	position:relative;
	left: 300px;
	top: -100px;
	margin: 0;
	padding: 0;
	border:solid #000 5px;
	clear:both;
	width: 610px;
}

ul#topnav{
	margin:0px;
	padding: 0;
	list-style:none;
	clear: both;
	width: 610px;
}

ul#topnav li{
	margin:0;
	padding:32px;
	display:inline;
	font-size:24px;
}
ul#topnav li a{
	color: black;
	text-decoration: none;
}
ul#topnav li a:hover{
	color: black;

}
#mainwrap{
	position:relative;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	min-height: 550px;
	height: auto !important;
	height: 550px;
}
#machinepic{
	float:right;
	margin-right:10px;
}

#footer{
	width:500px;
	margin-left: 60px;
	position:absolute;
	bottom:0;
}

ul#bottomnav{
	border:#000 solid thick;
}

ul#bottomnav li {
	margin:0;
	padding:25px;
	display:inline;
	font-size:14px;
	list-style:none;
}

ul#bottomnav li a{
	color:black;
	text-decoration:none;
}

ul#bottomnav li a:hover{
	color:#00C;
}

#copy{
	text-align:center;
}

#copy img{
	border:none;
}

#stamp{
	position:relative;
	left:625px;
	top: 130px;
}

#maincopy{
	margin:30px;
}

#maintitle{
	margin:10px;
}






	
