/* Form */
.contact_form{
	
}
.contact_form form {


	border: 0; 
	box-shadow:inset 0px 0px 5px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,.5);
	-moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,.5);
	border: 1px solid #bbbbbb;
	padding: 10px;
	margin: 40px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #fff;
}

label {
	display: block;
	margin-top : 8px;
	width: 100%;
	background-repeat: no-repeat;
}

.yellow {
	color: #E1D04D;
	font-weight: bold;
}


/* Congratulation message */
.MsgSent {
	Display: block;
	padding: 10px;
	margin: 40px auto;
	width: 400px;
	text-align: center;
	border: 1px solid #EEE;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.MsgSent h1 {
	background: url(../images/contact_images/contact_images/MsgSent.gif) no-repeat 0 0;
	padding-left: 20px;
	height: 85px;
	line-height: 85px;
}

/* Error message */
.MsgError {
	Display: block;
	padding: 10px;
	margin: 40px auto;
	width: 400px;
	text-align: center;
	border: 1px solid #EEE;
	background-color: white;
}

.MsgError h1 {
	background: url(../images/contact_images/MsgError.gif) no-repeat 0 0;
	padding-left: 20px;
	height: 85px;
	line-height: 85px;
	color: #CC0000;
}

.MsgSent p, .MsgError p {
	font-size: 1.3em;
	color:#999;
}

/***** Niceforms *****/
/*##########################################
Name: Default styling for Niceforms v.1.0
Author: Lucian Slatineanu
URL: http://www.badboy.ro/
##########################################*/

/*General styles - NOT really related to the forms*/
#container {padding:20px;}

/*Forms defaults - change as needed*/
input, textarea {
	font-size:12px;
	color:#404040;
	border: none;
}
	
}
label {
	color:#0B659F;
	cursor:pointer;
	padding-left:2px;
	line-height:16px;
}

label.chosen {color:#333;}

/*Transparent items*/
.outtaHere {
	position:absolute;
	left:-3000px;
}

/*Radio buttons*/
.radioArea, .radioAreaChecked {
	display:block;
	float:left;
	clear:left;
	width:15px;
	height:14px;
	font-size:0;
	cursor:pointer;
}
.radioArea {background:url(../images/contact_images/radio.gif) no-repeat left top;}
.radioAreaChecked {background:url(../images/contact_images/radio.gif) no-repeat left bottom;}

/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	display:block;
	float:left;
	clear:left;
	width:13px;
	height:13px;
	font-size:0;
	padding:0;
	margin:0;
	cursor:pointer;
}
.checkboxArea {background:url(../images/contact_images/checkbox.gif) no-repeat left top;}
.checkboxAreaChecked {background:url(../images/contact_images/checkbox.gif) no-repeat left bottom;}
.focused {border:1px dotted #ddd;}

/*Text inputs*/
.textinput, .textinputHovered {
	height:15px;
	background:url(../images/contact_images/input_bg.gif) repeat-x left top;
	border:none;
	padding:4px 0;
	vertical-align:middle;
	display: inline;	
	
}
.textinputHovered {background-position:left bottom;}
.inputCorner {
	vertical-align:middle;
	width: 8px;
	margin: 0 -5px !important;
}

/*Text areas*/
.txtarea .tr, .txtarea .tr_xon {background:url(../images/contact_images/txtarea_tr.gif) no-repeat top right;}
.txtarea .tr_xon {background:url(../images/contact_images/txtarea_tr_xon.gif) no-repeat top right;}
.txtarea img.txt_corner {
	width:5px;
	height:5px;
	display:block;
}
.txtarea .br, .txtarea .br_xon {background:url(../images/contact_images/txtarea_br.gif) no-repeat top right;}
.txtarea .br_xon {background:url(../images/contact_images/txtarea_br_xon.gif) no-repeat top right;}
.txtarea .cntr {background:url(../images/contact_images/txtarea_cntr.gif) repeat-y right top;}
.txtarea .cntr_xon {background:url(../images/contact_images/txtarea_cntr_xon.gif) repeat-y right top;}
.txtarea .cntr_l, .txtarea .cntr_l_xon {
	width:5px;
	background:url(../images/contact_images/txtarea_l.gif) repeat-y left top;
	float:left;
}
.txtarea .cntr_l_xon {background:url(../images/contact_images/txtarea_l_xon.gif) repeat-y left top;}
.txtarea textarea {
	border:0;
	background:none;
	padding:0;
	margin:5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/*Selects*/
.selectArea {
	width:200px;
	height:21px;
	background:url(../images/contact_images/select_bg.gif) repeat-x left top;
}
.selectArea .left {
	width:8px;
	height:21px;
	float:left;
	background:url(../images/contact_images/select_left.gif) no-repeat left top;
}
.selectArea .right {
	width:21px;
	height:21px;
	float:right;
	background:url(../images/contact_images/select_right.gif) no-repeat left top;
}
.selectArea .right a {
	display:block;
	width:200px;
	height:21px;
	margin-left:-179px;
	position:absolute;
}
.selectArea .right i {display:none;}
.selectArea .center {
	width:160px;
	color:#FFF;
	padding-top:3px;
	overflow:hidden;
	white-space:nowrap;
}

/*Selects drop-down*/
.optionsDivInvisible, .optionsDivVisible {
	position:absolute;
	margin-top:-1px;
	margin-left:3px;
	width:172px;
	background:#6f7074;
	padding:2px;
	font-size:11px;
	z-index:20;
}
.optionsDivInvisible {display:none;}
.optionsDivVisible {display:block;}
.optionsDivVisible p {
	margin:0;
	padding:0;
}
.optionsDivVisible a {
	color:#F2F2F2;
	text-decoration:none;
	display:block;
	padding:1px 4px;
	border:1px solid #6f7074;
}
.optionsDivVisible a:hover {
	color:#FFF;
	background:#5F6062;
	border-color:#cfd0d6;
}

/*Button*/
.buttonSubmit, .buttonSubmitHovered {
	width:auto;
	height:26px;
	color:#FFF;
	font-weight:bold;
	padding:2px;
	background:url(../images/contact_images/button_bg.gif) repeat-x left top;
	cursor:pointer;
	border:none;
	margin: 0 -5px !important;
}
.buttonSubmitHovered {background-position:left bottom;}
.buttonImg {vertical-align:bottom;}


