.toggle {margin: 2px 0 0 14px; float: left; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.toggle li {float: left;}
.toggle li a {width: 50px; padding: 6px 0; text-align: center; display: block; text-shadow: 1px 1px 0 #fff; font-size: 12px; font-weight: 600; color: #666; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0; 

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-moz-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-webkit-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;

}
.toggle li:first-child a {-webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.toggle li a:hover { background: #ededed; color: #222; }
.toggle li a.active { background: #c8e0f3; color: #325874; cursor: default; box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); }

#slider {margin: 0 0 10px!important;}
#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}


/* Loading
***********************/
.loading aside {opacity: 0;}
aside {width: 100%; float: left; opacity: 1; -webkit-transition: opacity 1s ease;}
aside h3 {float: left;}

/* Layout
***********************/
#top { position: relative; z-index: 999; height:65px; padding: 5px 0; border-bottom: 1px solid #577794;

background: rgb(226,232,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,232,239,1) 0%, rgba(210,219,228,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,232,239,1)), color-stop(100%,rgba(210,219,228,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(226,232,239,1) 0%,rgba(210,219,228,1) 100%); /* W3C */ 

 }
#top  { text-align: center; }
#top .top-inner  { max-width: 800px; width: auto; }
#top img  { float: none; display: inline; margin-top: 12px; }
#container {padding: 60px 40px 100px;	border-top: 1px solid #93b6d2;}


.button {
	display: inline-block;
	margin: 2px 0;
	padding: 5px 15px 3px;
	border: 1px solid #336693;
	border-bottom-color: #336693;
	color: #fff!important;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-transform: uppercase;
	font: bold 12px/16px sans-serif;
	cursor:pointer;

	/*Border radius*/
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	
	/*Background*/
	background: #274d70; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #336693), color-stop(1, #274d70));
	background: -moz-linear-gradient( center top, #336693 20%, #274d70 100% );
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/, 0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
}

.button:hover {
	color: #fff;
	text-decoration: none!important;
	/*Background*/
	background: #396083; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #3c77ab), color-stop(1, #396083) );
	background: -moz-linear-gradient( center top, #3c77ab 20%, #396083 100% );
}

/* GREEN */

.button.green  {
	border: 1px solid #467d16;
	border-bottom-color: #467d16;
	
	/*Background*/
	background: #447e12; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #71b02f), color-stop(1, #447e12));
	background: -moz-linear-gradient( center top, #71b02f 20%, #447e12 100% );
}

.button.green:hover  {
	/*Background*/
	background: #508e1b; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #7cbc3a), color-stop(1, #508e1b));
	background: -moz-linear-gradient( center top, #7cbc3a 20%, #508e1b 100% );
}


/* Media Queries
***********************/
@media screen and (max-width: 960px) {
  #container {padding: 35px;}

}
@media screen and (max-width: 768px) {
  #container {padding: 20px 30px;}

}
@media screen and (max-width: 500px) {
  header h1 {width: 246px;  }
}