#head_right{
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
}
#header_content{
	position: relative !important;
}

.pdfs{
	height: 30px;
	width: 400px;
	border: #6694AD 1px solid;
}
.pdfs p{
	width: 450px;
	font-weight: bold;
	padding: 0 10px 0;
	float: left;

}
.pdfs img{
	border: none !important;
	border-left: #6694AD 1px solid !important;
	background: none !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;

}
.pdfs a{
	float: right;
}

ul.main ul{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
	line-height: 1.5em;
	font-size: 12px;
	font-family: SansationRegular;
	position: absolute;
	display: none;
	width: 15.7em;
	z-index: 99;
	box-shadow: 2px -2px 5px #333;
	-moz-box-shadow: 2px -2px 5px #333;
	-webkit-box-shadow: 2px -3px 5px #333;
	border: #ccc 1px solid;
	background: #fff;
	border-width: 1px 1px 0px 1px;
	top:35px;
	left:0;
}

ul.main ul li{
	padding: 0;
	margin: 0;
}

ul.main li ul a{
	color: #333;
	font-size: 14px;
	width: 12em;
	height: auto;
	line-height: 1.5em;
	display: block;
	background: #fff;
	border-bottom: 1px solid #cccccc;
	border-top: 5px solid #ECF5FA;
	padding: 0 10px;
}