*{
	margin: 0;
	padding: 0;
}
body, html{
	width: 100%;
	height: 100%;
}
ol{
	padding-left: 40px;
}
header{
	width: 100%;
}
#header_content{
	width: 84.210526316%;
	max-width: 1140px;
	margin: 0 auto;
}
#logo_wrap{
	width: 84.210526316%;
	max-width: 1140px;
	margin: 0 auto;
}
#main_wrap{
	width: 100%;
	padding: 60px 0;
	/*margin-top: 0px;*/
}
#main{
	width: 84.210526316%;
	max-width: 1140px;
	margin: 0 auto;
}


#sitemap li{
	margin-left: 20px;
	line-height: 2em;
}
#permits{
	width: 400px;
	height: auto;
	float: left;
}
#applications{
	width: 400px;
	height: auto;
	float: right;
	margin-bottom: 20px;
	padding-left: 75px;
	border-left: 2px #E1D04D solid;
}
.contact_form{
	width: 57.291666667%; /* 550 (originally 550) / 960 */
border: 0; 

	float: right;
}
#message_box{
	float: right;
	position: relative;
	top: -120px;
}