
@font-face {
    font-family: 'SansationRegular';
    src: url('Sansation_Regular-webfont.eot');
    src: url('Sansation_Regular-webfont.eot?iefix') format('eot'),
         url('Sansation_Regular-webfont.woff') format('woff'),
         url('Sansation_Regular-webfont.ttf') format('truetype'),
         url('Sansation_Regular-webfont.svg#webfontw28k2xtN') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('Sansation_Light-webfont.eot');
    src: url('Sansation_Light-webfont.eot?iefix') format('eot'),
         url('Sansation_Light-webfont.woff') format('woff'),
         url('Sansation_Light-webfont.ttf') format('truetype'),
         url('Sansation_Light-webfont.svg#webfontJY9BDD6R') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('Sansation_Bold-webfont.eot');
    src: url('Sansation_Bold-webfont.eot?iefix') format('eot'),
         url('Sansation_Bold-webfont.woff') format('woff'),
         url('Sansation_Bold-webfont.ttf') format('truetype'),
         url('Sansation_Bold-webfont.svg#webfonth1l4beys') format('svg');
    font-weight: normal;
    font-style: normal;

}
.lastcol{
	margin-right: 0 !important; 
}
body{
	font-size: 1em;
	font-family: Tahoma, sans-serif;
	color: #000;
	background:url(../images/body_bg.jpg) repeat ;
}
h1,h2,h3,h4,h6{
	font-family: SansationLight;
}
h1{}
h2{
	border-bottom-color: #2b5667;
	font-size: 2em;
	color: #2b5667;
	border-bottom: 2px solid;
}
h3{color: #2b5667;}
h4{font-size: 1.25em; color: #00a152;}
h5{font-family: Helvetica; color: #2b5667; font-weight: bold; font-size: 1em; padding-top: 20px;}
h6{font-family: SansationBold; font-weight: normal;}
p{ 
	padding: 20px 0; 
}
a{
	color: #00a152;
	text-decoration: underline;
}
a:hover{
	color: #333;
}
}
img{
	border:none;
}
.no_border{
	border: none !important;
}
table td{
padding-right:5px;
}
.spacer{
	width: 100%;
	height: 10px;
	margin: 20px 0;
	border-bottom: #555 solid 2px;
}
.clear{
	clear: both;
}
.right{
	float: right;
}
.left{
	float: left;
}
.h_divider{
	width: 100%;
	height: 0px;
	border-top: 2px #E1D04D solid;
	border-bottom: 1px #ccc solid;
	margin: 20px 0;
}
.v_divider{
	width: 1px;
	height: 100%;
	border-left: 2px #E1D04D solid;
	margin: 0 20px;
}
form img{
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	border: none !important;
}
img{
	border: none;
}
.marquee{
	padding: 2px 0;
	color: #2b5667;
	width: 100%
	
}
.marquee p{
	padding: 2px 0;
	margin: 0;
	color: #00a152;
	font-size: medium;
	font-weight: bold;
	width: 100%;
}
/*Header*/
header{
	background:url(../images/header_bg.png) center bottom ;
	border-bottom: #6694AD 2px solid;
	padding-top: 15px;
	font-family: SansationBold;
	
}
#logo_wrap{
	
}
#logo{
	padding: 10px;
}

#header_content{
	background-color: white;
	box-shadow: 2px -5px 20px -10px #333;
	-moz-box-shadow: 2px -5px 20px -10px #333;
	-webkit-box-shadow: 5px -5px 20px -10 #333;
}

#head_right{
	float: right;
	font-size: .75em;
	color: #000000;
	text-align: right;
	padding: 5px;
	
}
#head_right form{
	position: relative;
	top: 20px;
	right: 20px;
}
#head_right form #search{
	width: 250px;
	height: 20px;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: #fff;
	background-color: #073315;
	font-family: SansationBold;
	letter-spacing: 2px;
	border: #638872 1px solid;
	padding-left: 5px;
}
#head_right form #submit{
	color: #333333;
	background: #ffffff;
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 2px;
}
		/*Menu*/
		ul.main{
			height: 35px;
			width: 100%;
		}
		ul.main li{
			display: block;
			float: left;
			color: #000000;
			line-height: 2em;
			padding: 0 20px;
			font-size: 1.125em;
			position: relative;
			z-index: 99;
		}
		ul.main li a{
			color: #000000;
			text-decoration: none;
			padding: 7px 0 0 0;
		}
		#home a:hover{
			border-bottom: 5px solid #72B6DC;
		}
		#living a:hover{
			border-bottom: 5px solid #DD4900;
		}
		#business a:hover{
			border-bottom: 5px solid #3DFB5A;
		}
		#about a:hover{
			border-bottom: 5px solid #FB30F2;
		}
		#visit a:hover{
			border-bottom: 5px solid #304EFB;
		}
		#government a:hover{
			border-bottom: 5px solid #E1D04D;
		}
		
		ul.main em{
		font-style:normal;
		cursor:pointer;
		}
		
ul.main ul{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
	line-height: 1.5em;
	font-size: .667em;
	font-family: SansationRegular;
	position: absolute;
	display: none;
	width: 15.7em;
	z-index: 99;
	box-shadow: 2px -2px 5px #333;
	-moz-box-shadow: 2px -2px 5px #333;
	-webkit-box-shadow: 2px -3px 5px #333;
	border: #ccc 1px solid;
	background: #fff;
	border-width: 1px 1px 0px 1px;
	
}
ul.main ul li{
	padding: 0;
	margin: 0;
}
ul.main li ul a{
	color: #333;
	font-size: 1.167em;
	width: 12em;
	height: auto;
	line-height: 1.5em;
	display: block;
	background: #fff;
	border-bottom: 1px solid #cccccc;
	border-top: 5px solid #ECF5FA;
	padding: 0 10px;
}
#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    
    /* Specify the width of your pageslide here */
    width: 260px;
    padding: 20px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}
.open {
        display: none;
        width: 50px;
        height: 50px;
        border: 0;
        }

/*SlideShow*/
#slideshow { 
    position: relative; 
    width: 100%; 
    height: 344px; 

}
.slider{
overflow: hidden;
}
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.tile{
	/* The individual tiles */
		width:20%;
		height: 160px;
		
	float:left;
	border-width:5px;
	margin: 5px;
}

.clear{
	/* This class clears the floats */
	clear:both;
}
/*Side Menu*/
ul.side{
	background: #338FAA;
	width: 100%;
	height: 344px;
	position: relative;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}
ul.side h3{
	color: #1D4E61;
	text-shadow: rgba(0,0,0,0.5) 1px -1px, rgba(255,255,255,0.5) 1px 1px;
}
ul.side li{
	position: relative;
	color: #fff;
	list-style: none;
	line-height: 2.5em;
	left: 10px;
	top: 20px;
	
}
ul.side li a{
	font-family: SansationRegular;
	font-size: 1.125em;
	color: #fff;
	text-decoration:underline;
	line-height: 1.5em;
	
}
ul.side li a:hover{
	color: #333;
	text-shadow: rgba(0,0,0,0.5) 1px -1px, rgba(255,255,255,0.5) 1px 1px;
}  


/* Main Section*/
#main_wrap{
	background: #ffffff;
	
}
#main_content{
	background: #ffffff;
}
#main_content img{
	margin: 1%;
	padding: 5px;
	background: #f9f9f9;
	border: #b0cbdc 2px solid;
}
#main_content h3{
	font-size: 2em;
	padding: 20px 10px;
	font-family: SansationBold;
}
#realestate div{
	border-top: #ccc 1px solid;
	border-bottom: #6694AD 2px solid;
	padding: 10px 0;
}
.pdfs{
	height: 30px;
	width: 50%;
	border: #6694AD 1px solid !important;
	
	/*line-height: 1.5em;*/
}
.pdfs p{

	font-weight: bold;
	padding: 0 10px 0;
	

}
.pdfs img{
	border: none !important;
	border-left: #6694AD 1px solid !important;
	background: none !important;
	float: right !important;
	margin: 0 !important;
	padding: 0 !important;

}
.pdfs a{
	float: right;
}
.table_head{
	color: #00a152;
	font-size: 1.8em;
}
table tr, th, td{
	padding: 5px;
}
table{
	background: #f9f9f9;
	border: #b0cbdc 2px solid;
}
/* Properties */
.properties{
	border: solid 2px #333;
	width: 100%;
	height: auto;
	margin-top: 15px;
}
.properties img{
	border: none !important;
	padding: 0 !important;
}
.properties p{
	position: relative;
	top: 50px;
	left: 50px;
}
.properties h4{
	position: relative;
	top: 50px;
	left: 50px;
}
/* Hotels */
.amenities{
	width: 250px;
	float: left;
}
.amenities2{
	width: 250px;
	float: right;
}
/* idTabs */
ul.idTabs{
	margin: 20px 0;
}
ul.idTabs li{
	float: left;
	list-style: none;
}
.idTabs a{
	font-family: SansationBold;
    font-size: 2em;
    padding: 20px 10px;
}
.idTabs a:hover{
	color: #333 !important;
}
/*City Updates */              
#city_update h1{
	border-bottom-color: #2b5667;
	font-family: SansationLight;
	border-bottom: 2px solid;
	width: 100%;
	color: #2b5667;
	letter-spacing: .5em;
	text-transform: uppercase;
}
#city_update span{
font-family: SansationRegular;
}
.city_updates{
	border-left: dotted 2px #999999;
	margin-top: 20px;
	padding: 10px;
	font-family: SansationRegular;
	color: #2b5667;
	height: 500px;
	overflow: scroll;
}
.city_updates ul{
	padding-left: 26px;
}
.city_updates li{
	padding: 10px 0;
}
.city_updates dt{
	padding: 10px 0;
	font-family: SansationBold;
}
.city_updates dd{
	padding-left: 10px;
}

/*Organization*/
#org{
	width: 100%;
}
#org h3{
	font-size: 26px;
	padding-bottom: 0;
}
#mayor{
	width: 62.5%;;
	margin: 0 auto;
	text-align: center;
}
#mayor h4{
}
.second_tier{
	margin-top: 50px;
	padding-bottom: 10px;
}
.second_tier div{
	float: left;
	text-align: center;
	width: auto;
	padding: 0 20px;	
}
.second_tier p{
	padding: 0;
}

.council_member{
	width: 62.5%;;
	margin: 20px auto;
	text-align: center;
}
	/* Spotlight */
	.spotlight{
		width: 353px;
		height: auto;
		background: none;
		text-align: right;
		float: left;
	}
	.spotlight_content{
		background-color: #F9F4AE;
		padding:20px;
	}
	.spotlight h3{
		color: #2b5667;
		position: relative;
		text-align: center;
		font-family: SansationLight;
		letter-spacing: 5px;
		top: 0;
	}
	.spotlight h4{
		padding-bottom: 10px;
	}
	.spotlight p{
		font-size: 14px;
	}
	.spotlight img{
		border: none !important;
		text-align: center;
	}
	.wrapReady {
    	float: left;
    	padding-left: 20px;
    	padding-top: 20px;
    }
    #top_corners{
    width: 100%;
    height: 50px;
    position: relative;
    left: -4px;
    top: 21px;
    background:url(../images/spotlight_corners.png) top right no-repeat ;
    
    }
    #bottom_corners{
    width: 100%;
    height: 50px;
    position: relative;
    left: -4px;
    top: 0px;
    background:url(../images/spotlight_corners.png) bottom right no-repeat;
    }
    
    
/* Contact */
.contact{
	padding-left: 40px;
	width: 350px;
}

.contact p {
	padding: 0;
	height: 48px;
	line-height: 2em;
	font-size: 18px;
}
.address, .phone, .fax, .email{
	width: 48px;
	height: 48px;
	background-image: url(../images/icons/contact_icons.png);
	background-repeat: no-repeat;
	float: left;
}
.address{
	background-position: 0px 0px;
}
.phone{
	background-position: -48px 0px;
}
.fax{
	background-position: 0px -48px;
}
.email{
	background-position: -48px -48px;
}

/* Community Links */
#links li{
	list-style-image: url(../images/link.png);
	width: 400px;
}
#links h4{
	color: #333;
	padding: 10px 0;
}
/* Footer */
#footer_wrap{
	width: 100%;
	height: 100px;
	padding-top: 50px;
	background: #ffffff;
}
#footer_logos{
	width: 84.210526316%;
	margin: 0 auto;
	height: 128px;
	top: -40px;
	position: relative;
}
#aea{
	

}
#footer{
	clear: both;
	width: 100%;
	height: 75px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	background:url(../images/body_bg.jpg) repeat ;
}
#footer_content{
	width: 84.210526316%;
	margin: 0 auto;
}
#footer a{
	padding-left: 40px;
	color: #ffffff;
}
#footer em{
	padding-left: 40px;
	font-style: normal;
}
/* Sitemap */
#sitemap li {
	font-weight: bold;
}
#sitemap ul li {
	font-weight: normal;
}
element {
}

/* Minutes */
.next_meeting h4, .next_meeting p{
	margin-left: 100px;
}
#archived_minutes h5{
	border-bottom: 2px solid #333;
}
#archived_minutes h4{
	float: left;
	display: block;
	padding:10px;
}



@media handheld, only screen and (max-width: 950px){
	ul.main li span{
		display: none;
	}
}
@media handheld, only screen and (max-width: 768px) {
	ul.main li{
		font-size: 1em;
	}
	.second_tier div{
		float: none;	
	}
	#homepage-header{
		display: none;
	}

}
@media handheld, only screen and (max-width: 480px) {
	#mosaic-slideshow{
		display: none;
	}
	#head_right{
		display: none;
	}
	nav #menu{
		display: none;
	}
	.open { display: block; }
    #pageslide { width: 200px; }
    #pageslide #menu li { display: block; float: none; padding: 10px 0; border-bottom: 1px solid #666; }
    #pageslide #menu li a { color: #FFF; border: none; font-size: 1em; }
    #pageslide #menu li a:hover { text-decoration: underline; }
    ul.main ul{
    display: block !important;
    }
}