
@font-face {
    font-family: 'SansationRegular';
    src: url('Sansation_Regular-webfont.eot');
    src: url('Sansation_Regular-webfont.eot?iefix') format('eot'),
         url('Sansation_Regular-webfont.woff') format('woff'),
         url('Sansation_Regular-webfont.ttf') format('truetype'),
         url('Sansation_Regular-webfont.svg#webfontw28k2xtN') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('Sansation_Light-webfont.eot');
    src: url('Sansation_Light-webfont.eot?iefix') format('eot'),
         url('Sansation_Light-webfont.woff') format('woff'),
         url('Sansation_Light-webfont.ttf') format('truetype'),
         url('Sansation_Light-webfont.svg#webfontJY9BDD6R') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('Sansation_Bold-webfont.eot');
    src: url('Sansation_Bold-webfont.eot?iefix') format('eot'),
         url('Sansation_Bold-webfont.woff') format('woff'),
         url('Sansation_Bold-webfont.ttf') format('truetype'),
         url('Sansation_Bold-webfont.svg#webfonth1l4beys') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-size: 16px;
	font-family: Tahoma, sans-serif;
	color: #000;
	background: #ECF5FA;
}
h1,h2,h3,h4,h5,h6{
	font-family: SansationLight;
}
h1{}
h2{
	font-size: 32px;
	color: #902D52;
	border-bottom: #902D52 2px solid;
}
h3{
	color: #902D52;
}
h4{font-size: 20px;}
H5{}
h6{
	font-family: SansationBold; 
	font-weight: normal;
}
p{ 
	padding: 20px 0; 
}
a{
	color: #004D77;
}
img{
	border:none;
}
.clear{
	clear: both;
}
.right{
	float: right;
}
.left{
	float: left;
}
.h_divider{
	width: 100%;
	height: 0px;
	border-top: 2px #E1D04D solid;
	border-bottom: 1px #ccc solid;
	margin: 20px 0;
}
.v_divider{
	width: 1px;
	height: 100%;
	border-left: 2px #E1D04D solid;
	margin: 0 20px;
}
form img{
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	border: none !important;
}
/*Header*/
#header{
	background: #004D77;
	border-bottom: #6694AD 2px solid;
	padding-top: 15px;
	font-family: SansationBold;
}
#header_content{
	background: #ECF5FA;
	box-shadow: 5px -5px 5px #333;
	-moz-box-shadow: 5px -5px 5px #333;
	-webkit-box-shadow: 5px -5px 5px #333;
}
#logo{
	padding: 10px;
}

#head_right{
	float: right;
	font-size: 12px;
	color: #000000;
	text-align: right;
	padding: 5px;
}
#head_right form{
	position: relative;
	top: 20px;
	right: 20px;
}
#head_right form #search{
	width: 250px;
	height: 20px;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: #004D77;
	background-color: #e6e6e6;
	font-family: SansationBold;
	letter-spacing: 2px;
	border: #f9f9f9 1px solid;
	padding-left: 5px;
}
#head_right form #submit{
	
}
		/*Menu*/
		menu.main li{
			display: block;
			float: left;
			color: #000000;
			line-height: 1em;
			padding: 0 20px;
			font-size: 18px;
		}
		menu.main li a{
			color: #000000;
			text-decoration: none;
			padding: 0 10px;
		}
		#home a:hover{
			border-top: 5px solid #72B6DC;
		}
		#living a:hover{
			border-top: 5px solid #DD4900;
		}
		#business a:hover{
			border-top: 5px solid #3DFB5A;
		}
		#about a:hover{
			border-top: 5px solid #FB30F2;
		}
		#visit a:hover{
			border-top: 5px solid #304EFB;
		}
		#government a:hover{
			border-top: 5px solid #E1D04D;
		}
menu.main ul{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-position: outside;
	position: relative;
	line-height: 1.5em;
	font-size: 12px;
	font-family: SansationRegular;
}
menu.main ul {
	position: absolute;
	display: none;
	width: 15.7em;
	z-index: 99;
	box-shadow: 2px -2px 5px #333;
	-moz-box-shadow: 2px -2px 5px #333;
	-webkit-box-shadow: 2px -3px 5px #333;
	border: #ccc 1px solid;
	background: #ECF5FA;
	border-width: 1px 1px 0px 1px;
	
}
menu.main ul li{
	padding: 0;
	margin: 0;
}
menu.main li ul a{
	color: #004D77;
	font-size: 14px;
	width: 12em;
	height: auto;
	line-height: 1.5em;
	display: block;
	background: #ECF5FA;
	border-bottom: 1px solid #cccccc;
	border-top: 5px solid #ECF5FA;
}

/*SlideShow*/
#mosaic-slideshow{
	/* The slideshow container div */
	height:335px;
	position:relative;
	width:616px;
	top: 20px;
	left: 20px;
	overflow: hidden;
}

.mosaic-slide{
	/* This class is shared between all the slides */
	left:0px;
	position:absolute;
	top:0px;

}

.tile{
	/* The individual tiles */
	height:150px;
	width:180px;
	float:left;
	border:solid #E1D04D;
	border-width:5px;
	margin: 5px;
}

.clear{
	/* This class clears the floats */
	clear:both;
}
/*Side Menu*/
menu.side{
	background: url(../images/side_menu.png) no-repeat;
	width: 241px;
	height: 344px;
	float: right;
	position: relative;
	left: 21px;
	top: 20px;
}
menu.side li{
	position: relative;
	color: #ffffff;
	list-style: none;
	line-height: 3em;
	left: 21px;
	top: 20px;
}
menu.side li a{
	color: #ffffff;
	text-decoration: none;
}
menu.side li a:hover{
	color: #49182C;
	text-shadow: rgba(0,0,0,0.5) 1px -1px, rgba(255,255,255,0.5) 1px 1px;
}  


/* Main Section*/
#main_wrap{
	background: #ECF5FA;
	
}
#main_content img{
	margin: 10px;
	padding: 5px;
	background: #004D77;
	border: #6694AD 2px solid;
}
#main_content h3{
	font-size: 32px;
	padding: 20px 10px;
	font-family: SansationBold;
}
#realestate div{
	border-top: #ccc 1px solid;
	border-bottom: #6694AD 2px solid;
	padding: 10px 0;
}
.pdfs{
	height: 30px;
	width: 400px;
	border: #6694AD 1px solid;
	line-height: 1.5em;
}
.pdfs p{
	width: 450px;
	font-weight: bold;
	padding: 0 10px 0;
}
.pdfs img{
	border: none !important;
	border-left: #6694AD 1px solid !important;
	background: none !important;
	float: right;
	margin: 0 !important;
	padding: 0 !important;

}
/*City Updates */              
#city_update h1{
	font-family: SansationLight;
	border-bottom: #902D52 2px solid;
	width: 940px;
	color: #902D52;
	letter-spacing: 10px;
	text-transform: uppercase;
}
#city_update span{
font-family: SansationRegular;
}
.city_updates{
	width: 250px;
	border-left: dotted 2px #999999;
	float: left;
	margin-top: 20px;
	margin-left: 16px;
	padding: 10px;
	font-family: SansationRegular;
	color: #004D77;
}
.city_updates ul{
	padding-left: 26px;
}
.city_updates li{
	padding: 10px 0;
}
.city_updates dt{
	padding: 10px 0;
	font-family: SansationBold;
}
.city_updates dd{
	padding-left: 10px;
}

	/* Spotlight */
	.spotlight{
		width: 353px;
		height: auto;
		background: none;
		text-align: right;
		float: left;
	}
	.spotlight_content{
		background-color: #F9F6DB;
		padding:20px;
	}
	.spotlight h3{
		color: #902D52;
		position: relative;
		text-align: center;
		font-family: SansationLight;
		letter-spacing: 5px;
		top: 0;
	}
	.spotlight h4{
		padding-bottom: 10px;
	}
	.spotlight p{
		font-size: 14px;
	}
	.wrapReady {
    	float: left;
    	padding-left: 20px;
    	padding-top: 20px;
    }
    #top_corners{
    width: 361px;
    height: 50px;
    position: relative;
    left: -4px;
    top: 21px;
    background:url(../images/spotlight_corners.png) top right no-repeat ;
    
    }
    #bottom_corners{
    width: 361px;
    height: 50px;
    position: relative;
    left: -4px;
    top: 0px;
    background:url(../images/spotlight_corners.png) bottom right no-repeat;
    }
    
    
/* Contact */
.contact{
	padding-left: 40px;
	width: 350px;
}

.contact p {
	padding: 0;
	height: 48px;
	line-height: 2em;
	font-size: 18px;
}
.address, .phone, .fax, .email{
	width: 48px;
	height: 48px;
	background-image: url(../images/icons/contact_icons.png);
	background-repeat: no-repeat;
	float: left;
}
.address{
	background-position: 0px 0px;
}
.phone{
	background-position: -48px 0px;
}
.fax{
	background-position: 0px -48px;
}
.email{
	background-position: -48px -48px;
}

/* Footer */
#footer_wrap{
	width: 100%;
	height: 100px;
	margin-top: 50px;
}
#footer_logos{
	width: 960px;
	margin: 0 auto;
}
#footer{
	clear: both;
	width: 100%;
	height: 50px;
	background: #004D77;
	border-top: #6694AD 2px solid;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}
#footer a{
	padding-left: 40px;
	color: #ffffff;
}
#footer em{
	padding-left: 40px;
	font-style: normal;
}
/* Sitemap */
#sitemap li {
	font-weight: bold;
}
#sitemap ul li {
	font-weight: normal;
}